.vertex {
    position: absolute;
    border-radius: 50%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
    width: 40px; 
    height: 40px;
}

.selected {
    border: 8px solid teal; 
}